[submodule "qmltermwidget"]
	path = qmltermwidget
	url = https://github.com/overseers-desk/qmltermwidget
	branch = tmux-cc
[submodule "KDSingleApplication"]
	path = KDSingleApplication
	url = https://github.com/KDAB/KDSingleApplication.git
